@use "../../sass/mixins" as mxn;

.recipe {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 3px solid #efefef;
  overflow: hidden;

  &__image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    & h4 {
      width: 17rem;
      height: 1.6rem;
      border-radius: 2px;
    }

    & p {
      width: 20rem;
      height: 1rem;
      border-radius: 2px;
    }
  }
}

.header {
  // width: 50%;
  height: 2.6rem;
  border-radius: 2px;
  margin: 0 auto;

  @include mxn.respond(xs) {
    width: 20rem;
  }
}

.textline {
  width: 20rem;
  height: 1.4rem;
  border-radius: 2px;
}

.ing {
  grid-area: recipe-details;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // &__header {
  //   margin
  // }

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    padding: 2rem 5rem 4rem 5rem;
    gap: 2rem;
  }

  &__item {
    //
  }
}

.source {
  margin-top: auto;
  background-color: #eee;
  @include mxn.flexColCenter(1rem);
  text-align: center;

  & a {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.actions {
  grid-area: recipe-actions;
  @include mxn.flexRowCenter(3rem);
  margin-top: 3rem;
  padding: 0 5rem;

  &__bookmark {
    margin-left: auto;
  }
}

.circle {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.tag {
  width: 10rem;
  height: 3rem;
  border-radius: 50px;

  @include mxn.respond(xs) {
    width: 6rem;
    height: 2rem;
  }
}

.button {
  height: 3rem;
  width: 8rem;
  border-radius: 50px;
  border: none;
}

.skeleton {
  opacity: 0.8;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.3) 30%,
      rgba(#fff, 0.5) 50%,
      rgba(#fff, 0)
    );
    animation: shimmer 2s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
