.list {
  width: 30rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7rem;
  right: 0;
  background-color: #eee;
  z-index: 10;
  display: none;

  &:hover {
    display: flex;
  }

  &__items {
    margin-bottom: auto;
  }
}
